<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Peoples United</h5>
                <p class="grey-text text-lighten-4">Soccer Management System</p>
                <div id="world-map-markers"></div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Copyright © 2017 <a class="grey-text text-lighten-4"
                                href="http://seiis.cut.ac.cy/"
                                target="_blank">SEIIS LAB</a> All rights reserved.
            <span class="right"> Design and Developed by <a class="grey-text text-lighten-4"
                                                            href="https://plus.google.com/+DimitrisChristodoulouMitsaras">Dimitris Christodoulou@CUT</a></span>
        </div>
    </div>
</footer>