<div class="navbar-fixed">
    <nav class="cyan">
        <div class="nav-wrapper">

            <ul class="left">
                <li class="no-hover"><a href="#" data-activates="slide-out" class="menu-sidebar-collapse btn-floating btn-flat btn-medium waves-effect waves-light cyan hide-on-large-only"><i class="mdi-navigation-menu" ></i></a></li>
                <li><h1 class="logo-wrapper"><a href="index.html" class="brand-logo darken-1"> <span class="logo-text text-darken-4">Peoples United</span></a></h1></li>
            </ul>
            <div class="header-search-wrapper hide-on-med-and-down">
                <i class="mdi-action-search"></i>
                <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Search Everything"/>
            </div>
            <ul class="right hide-on-med-and-down">
                <li><a href="#" data-activates="accountDropdown" class="waves-effect waves-block waves-light"><i class="mdi-action-account-circle"></i></a>
                </li>
                <li><a href="#" data-activates="notificationDropdown" class="waves-effect waves-block waves-light"><i class="mdi-social-notifications"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</div>