h1 span.logo-text {
    display: inline-block;
}

#content {
    margin-top: 0px;
!important;
}

.task-card label {
    display: block;
    color: rgba(0, 0, 0, 0.87);
    height: auto
}

.task-card .task-card-title {
    margin: 0;
    color: #fff;
    font-weight: 300
}

.task-card .task-card-date {
    font-size: 1.0rem;
    margin: 0;
    color: #fff
}

.task-card .collection-header {
    padding: 20px
}

.task-card .task-add {
    position: absolute;
    right: 10px;
    top: 76px
}

.task-card .task-cat {
    padding: 2px 4px;
    color: #fff;
    margin-left: 37px;
    font-weight: 300;
    font-size: 0.8rem;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-clip: padding-box
}

div.tabs-content.carousel{
    min-height:425px;
    overflow-y: scroll;
}
